---
---


<p class="aboutBody">
    We created Imagine Software Consultancy to help people make their dreams a reality. As Michigan State University graduates with over 5 years of expierence, we strive to provide you with the best development expierence you can find. We help new businesses flurish, and established business push further than they ever have before. We also provide analytic analysis and support for marketing!
</p>

<style>
    :root {
        --black: #2C2E43;
        --blaack: #000000;
        --darkGray: #595260;
        --lightGray: #B2B1B9;
        --yellow: #FFD523;
    }

    .aboutBody {
        font-size:2rem;
        color: var(--lightGray);
        padding:20vh;
        text-align:center;
    }
</style>