---
export interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<div class="card">
	<p class="header">{title}</p>
	<p class="body">{body}</p>
</div>
<style>
	:root {
        --black: #2C2E43;
        --blaack: #000000;
        --darkGray: #595260;
        --lightGray: #B2B1B9;
        --yellow: #FFD523;
    }

	.card {
		width:15vw;
		margin:auto;
		height:40vh;
		background:linear-gradient(160deg,var(--yellow) 0,rgba(178, 177, 185,.1) 30%);
		border-radius:25px;
		padding:10px;
		justify-content:center;
	}

	.header {
		font-size:2rem;
		color:var(--lightGray);
		margin:0;
		margin-bottom:3vh;
		text-align:center;
		text-decoration:underline;
		text-decoration-color:transparent;
		transition: text-decoration-color .5s ease-in;
	}
	.body {
		font-size:1.5rem;
		color:var(--yellow);
		margin:0;
		text-align:center;
		margin-top:10vh;	
	}
	.header:hover {
		text-decoration-color:var(--yellow);
	}
</style>
