---
---

<div class="footerContainer">
    <div class="footerElement phone">
        <p><span class="yellow">Phone Number:</span> 734-834-8222</p>
    </div>

    <div class="footerElement email">
        <p><span class="yellow">Email:</span> zane.aridi@imaginesoftwareconsultancy.com</p>
    </div>

    <div class="footerElement calender">
        <a href="https://outlook.office.com/bookwithme/user/2be57e9df9c747578a5f81069da79069@msu.edu?anonymous&ep=plink">
        <img src="/assets/calenderIcon.svg">
        </a>
    </div>
</div>

<style>
    :root {
        --black: #2C2E43;
        --blaack: #000000;
        --darkGray: #595260;
        --lightGray: #B2B1B9;
        --yellow: #FFD523;
    }

    p {
        margin: 0;
    }

    .footerContainer {
        max-width: 100vw;
        display: flex;
        flex-direction:row;
        font-size:1.1rem;
        color: var(--lightGray);
        padding-bottom:5vh;
    }

    .footerElement {
        margin: auto;
    }

    .phone {

    }

    .email {

    }

    .calender {

    }

    .yellow {
        color:var(--yellow);
    }
</style>